
html {
    box-sizing: border-box;
    
}

body {
    /*background-color: rgb(220, 220, 220);*/
    background-color: #e9eaf3;
    position: relative;
    
}

#header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
  }
  
  /*The size of my logo image*/
  #header-img {
    width: 60px;
    height: 60px;
  }

  .Logo {
    float: left;
    margin-left: 30px;
  }

  .Logo-Name {
    float: left;
    margin-left: -315px;
  }
  
  /*Styling navigation bar*/
  #nav-bar > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  #nav-bar {
    position: relative;
    display: flex;
    flex-direction: row;
  }
  
  ul{
    display: flex;
    flex-direction: row;
  }
  
  /*Gets rid of list dots and creates space in between navigation buttons*/
  li {
  list-style-type: none;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  }
  
  .nav-link {
    text-decoration: none;
    color: black;
  }

  .Top-Section-Container {
    max-width: 100vp;
    text-align: center;
    justify-content: center;
    margin-top: 35px;
  }

 fieldset {
    border: none;
 }
    
input {
    width: 300px;
    font-size: 14px;
    padding: 4px;   
    border: 0.5px rgb(43, 42, 42);
    outline: none;
    margin-top: -30px;
    box-sizing: border-box;

}

.On-Click {
     outline: 2px solid blue;
     border-radius: 2px; 
     
}

::placeholder {
    color: rgb(47, 42, 42);
}

/*Styling a button - Top button*/
.button {
    border: none;
    background-color: rgb(238, 191, 34);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    padding: 4px 20px;
    border-radius: 2px;
    margin-bottom: 50px;
}

.button:hover {
    background-color: rgb(0, 229, 255);
}

a, button, input[type="submit"] {
    cursor: pointer;
}

/*Styling a button - Box button*/
.Pricing-button {
    border: none;
    background-color: rgb(238, 191, 34);
    text-transform: uppercase;
    font-size: 1em;
    padding: 9px 25px;
    border-radius: 2px;
    margin-top: 27px;
}

.Pricing-button:hover {
    background-color: rgb(0, 229, 255);
}

#Features {
    width: 80vw;
    max-width: 800px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

/*Aligning image to the left of the text*/
.Picture {
    float: left;
    background-color: orange;
}

/*Size of the image to the left of the text*/
.Picture img {
    width: 60px;
    height: 60px;
}

.Header {
    padding-left: 130px;
}

/*Aligning text right underneath the header*/
.Text {
    padding-left: 130px;
    margin-top: -17px;
    margin-bottom: 50px;    
}

.Video-Container {
    position: relative;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
    justify-content: center;
}

.Left-Box {
    background-color: red;
    float: left;
}

.Right-Box {
    background-color: green;
    width: 30%;
    float: right;
}

/*Parameters for a pricing box*/
.Box {
    width: 300px;
    height: 310px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
    padding-bottom: 8px;
    
}

/*Space in between text in the pricing boxes*/
.Box p {
    margin: 10px;
}


/*Styling header of the Pricing box*/
.Pricing-Header {
    background-color: #d7d8e1;
    text-transform: uppercase;
    padding: 0.0165px;
}

.Center-Box {
    background-color: yellow;
    max-width: 300px;
    min-width: 300px;
    height: 310px;
    margin: 0 auto;
}

.footer {
    background-color: #d7d8e1;
    margin-top: 40px;
    text-align: right;
    padding: 20px;
    height: 60px;
    width: 100vp;
}

@media (max-width: 1199px) and (min-width:900px) {
    
}

/*When the size of the screen becomes less than or equal to 900px, this happens...*/
@media only screen and (max-width: 900px) {
    body {
        /*background-color: lightblue;*/
        
    }

    /*.Pricing {
        position: relative;
        justify-items: center;
    }*/

    /*Pricing1 box*/
    .Left-Box {
       position: absolute;
       margin-top: 10px;
       /*margin-left: 30%;*/
    }

    .Right-Box {
        position: absolute;
        margin-top: 700px;
        margin-left: 30%;
     }

    .Center-Box {
        position: absolute;
        width: 300px;
        height: 310px;
        margin-top: 350px;
        margin-left: 30%;
    }

    footer {
        position: absolute;
        margin-top: 1050px;
        width: 100%;
    }
}

    @media only screen and (max-width: 600px) {
        body {
            background-color: lightblue;
            text-align: center;
            justify-content: center;
            /*border: 1px solid;*/
        }

        * {
            border: 1px solid;  
        }

        /*When a viewport screen a certain size, side images aren't displayed*/
        .Picture {
            display: none;
        }
    
        .Video-Container iframe{
            position: relative;
            top: 0;
            left:0;
            width: 100%;
        }

.Features-Container {
    background-color: yellow;
}

        .Features-Container p{
            background-color: red;
            width: 100%;
            height: 100%;
            margin-left: -100px;
            padding: 10px;
            box-sizing: border-box;
            
            
            
        }
    }

